@import-normalize;

:root {
  --main-text-color: #121417;
  --secondary-text-color: rgba(18, 20, 23, 0.5);
  --accent-color: #47c927;
  --hover-color: #4ff643;

  --main-transition: 250ms linear;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #ffffff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
